/**
Copyright © 2023 <Joel Goode>

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
**/
/* * {
    background-color: #F2F3F4;
} */

/*
colors used:
#EEEEEE - white
#707B7C - grey
#FCF3CF - yellow
#212F3C - blue
#1F618D - lighter blue
*/

/************************* Classes *************************************/
body {
  font-family: "Open Sans", sans-serif;
}

h2,
h3 {
  font-weight: 800;
}

.bgimage::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}

.navbar {
  background-color: #212f3c;
  height: 60px;
}

.navbar-toggler {
  color: #ffffff;
}

.navbar-collapse {
  background-color: #212f3c;
}

ul.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-link {
  background-color: transparent;
  color: #eeeeee;
  border: 1px solid transparent;
  border-radius: 5px; /* Initial border-radius */
  padding: 5px;
  text-decoration: none;
  opacity: 0.8;
  transition: border-radius 0.3s ease; /* Add a transition for border-radius */
}

.navbar-nav .nav-link:hover {
  border: 1px solid white;
  border-radius: 5px;
  opacity: 1;
}

.about-img-container {
  width: 480px;
  height: 530px;
  border-radius: 50%;
  overflow: hidden;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.hero-text {
  color: #eeeeee;
}

/* Add the custom-btn class to apply styles only on hover */
.ovr-btn:hover {
  background-color: transparent; /* Make the background transparent on hover */
  color: white; /* Text color on hover */
  border: 1px solid white;
}

.latest-video {
  background-color: #707b7c;
  padding: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.latest-item img {
  cursor: pointer;
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.latest-item img:hover {
  transform: scale(1.08); /* Enlarge the image on hover */
}

.footer-icon {
  color: #eeeeee;
}
.fa-paper-plane {
  color: #eeeeee;
}

.contact-icon {
  color: #1f618d;
}

.services-icon {
  color: #e9967a;
}

.about-social-icons.fs-4 a i:hover {
  opacity: 0.5;
}

.creative-property {
  color: #eeeeee;
  padding-top: 20px;
}
/********************** End of Classes ************************************/

/*************************** IDs *****************************************/

#navbar-logo {
  width: 30px;
  height: auto;
}

#video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the video behind other content */
  object-fit: cover; /* Ensure the video covers the entire section */
}

#about {
  background-color: #f5f2e4;
  padding: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

#latest {
  background-color: #f5f2e4;
  padding-top: 50px;
  padding-bottom: 50px;
}

#services {
  background-color: #f5f2e4;
}

#contact {
  background-color: #f5f2e4;
  padding-top: 50px;
}

#contact-form {
  background-color: #212f3c;
  padding: 100px;
  border-radius: 20px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

#send-message-btn:hover {
  animation: pulse 0.5s infinite;
}

#footer {
  background-color: #212f3c;
  border-top: solid 4px #1f618d;
  text-align: center;
  margin-top: auto;
  padding-bottom: 20px;
  margin-bottom: auto;
}
